page-teste {
  .alinhamento{
    position: absolute;
    width: 100%;
    height: auto;
    display: flexbox;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
  }
  img{
    position: absolute;
    align-self: center;
    display:block;
    width: 200px;
    height: auto;
  }
}


