page-teste2 {
    #div-grid{        
        align-items: baseline
    }
    img:hover{
        opacity: 80%;
    }
    #row-img{
        text-align: center;
    }

    .row-form{
        justify-content: center;
        align-items: center;
    }

    ion-list ion-item:hover{
        opacity: 60%;
        background-color: #87bfff;
        border-radius: 20px;
        justify-content: center;
    }
    ion-list{
        width: 45%;
    }
    .div-radio{
        justify-content: center;
    }
    ion-label{
        text-align: center;
        font-size: 1em;
        font-family:sans-serif;
        text-indent: 5px;
    }
    ::placeholder{
        text-align: center;
    }
    ion-col{
        text-align: center;
        align-items: center;
    }
    button[ion-button]{
        font-size: 1em;
        font-display: 20px;
        text-align: center;
    }
  
    .button-md:hover{
        opacity: 90%;
        background-color: #87bfff !important;
        color: #008CBA;
    }

    .buttoncss{
        width: 45%;
        height: auto;
        align-items: center;
    }
 
}
