p.bot{
  text-align: center;
}
#principal{
  text-align: center;
  font-size: 22px;
}
ion-row{
  width: 90%;
  margin: auto;
}
ion-content{
  display: flex;
  align-items: center;

}
p{
  text-align: center;
}
/*Layout Ipad*/
@media only screen and (min-width: 620px){
  ion-label{
    font-size: 20px;
  }
  input{
    font-size: 22px;
  }
}
